/* CSS: */
*  {
  margin: 0;
  padding: 0;
}
body  {
  margin: auto;
  max-width: 50vw;
  font-family: arial;
  font-size: 16px;
}
.heading  {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.6em;
  margin-bottom: 3rem;
  word-spacing: 2em;
  text-align: center;
  padding: 1rem 2rem;
  color: rgb(2,  2,  170);
  background-color: lightgray;
}
.subHeading  {
  font-family: Georgia;
  color: darkred;
  font-size: 18px;
}
.perInfo,
.info  {
  margin: 1rem 2rem;
  margin-bottom: 3rem;
}
.info  {
  display: flex;
}
p {
  margin-top: 0.5rem;
}
.info p:first-of-type  {
  font-weight: bold;
  margin-right: 1.5rem;
}
.info p:nth-of-type(2)  {
  max-width: 300px;
}
